body{padding:8px;line-height:1.6rem}
a:link{color:blue;
                text-decoration:none;   }
a:visited{color:blue;
                text-decoration:none;   }   
a:hover{
                color:red;
                text-decoration:underline;  } 
img{border-radius: 4px;box-shadow: rgba(0,0,0,.27) 0 1px 3px,#DCDCDC 0 1px 0,#DDD 0 -1px 0;}
.dimg{text-align: center;padding:8px}
.w-1{width:10%;cursor:zoom-in}
.w-2{width:20%;cursor:zoom-in}
.w-3{width:30%;cursor:zoom-in}
.w-4{width:40%;cursor:zoom-in}
.w-5{width:50%;cursor:zoom-in}
.w-6{width:60%;cursor:zoom-in}
.w-7{width:70%;cursor:zoom-in}
.w-8{width:80%;cursor:zoom-in}
.w-9{width:90%;cursor:zoom-in}
.w-10{width:100%;cursor:zoom-in}
.title{font-weight: bold;}
.tContent{width:100%;padding-left:2rem;}
